[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "python manage.py runserver"

[packages]
django = "4.1.7"

[dev-packages]

[requires]
python_version = "3.11"
