:root {
  --font-family: 'Roboto';
  --container-width: 1170px;
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  // pallete
  --blue-color: #a3e7fc;
  --dark-blue-color: #5688c7;
  --emerald-color: #26c485;
  --orange-color: #e7961d;
  --black-color: #383730;
  --cyan-color: #32908f;
}
